{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", "nofunc"]
  }
}
